---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="../src/styles/styles.css" />
        <title>DBD Guide | The Mastermind</title>
	</head>
    
	<body>
		<header>
			<h1>The Mastermind</h1>
            <hr>
		</header>
		<main>
			<h2>General</h2>
                <img src="../src/assets/mastermind_portrait.png" alt="The Mastermind's Character Portrait"/>
                <p>The Mastermind (better known as Albert Wesker) is a brilliant and ruthless mastermind 
                    infused with the power of Uroboros. He excels at map control with his speed and putting pressure on survivors.</p>
            <hr>

            <h2>Power</h2>
                <img src="../src/assets/mastermind_power_icon.png" alt="The Mastermind's Power Icon"/>
                <p>The Mastermind's main power is <dfn>Virulent Bound</dfn>, which allows him to traverse the map at 
                    <em>incredibly</em> fast speeds. By holding down the power button, the Mastermind can charge up
                    and dash forward quickly by pressing the attack button when the charge gauge is full. If he
                    hits a survivor while using Virulent Bound, he will deal damage and apply the <dfn>Infected</dfn> status effect.
                    <dfn>Infected</dfn> survivors will slowly build up their <dfn>Infection Meter</dfn> over time
                    until it reaches maximum capacity, at which point they will be <dfn>Fully Infected</dfn>. 
                    <dfn>Fully Infected</dfn> survivors suffer from reduced movement speed and will be immediately downed
                    if the Mastermind hits them with <dfn>Virulent Bound</dfn>.
                </p>
            <hr>

            <h2>Perks</h2>
                <p>The Mastermind comes with 3 unique perks:</p>
                <img src="../src/assets/IconPerks_awakenedAwareness.png" alt="Awakened Awareness Perk Icon"/>
                <h3>Awakened Awareness</h3>
                    <p>While carrying a survivor, the auras of nearby survivors are revealed to you.</p>
                <img src="../src/assets/IconPerks_superiorAnatomy.png" alt="Superior Anatomy Perk Icon"/>
                <h3>Superior Anatomy</h3>
                    <p>When a survivor performs a fast vault near you, your vault speed is increased.</p>
                <img src="../src/assets/IconPerks_terminus.png" alt="Terminus Perk Icon"/>
                <h3>Terminus</h3>
                    <p>Once the Exit Gates are powered, all survivors suffer from the <dfn>Broken</dfn> status effect
                    until the gates are opened, at which point the effects linger for an additional 20 seconds.
                    The <dfn>Broken</dfn> status effect prevents survivors from healing themselves or others.</p>
            <hr>

            <h2>Playstyle Tips</h2>
            <ul>
                <li>Use your power to quickly close the distance between you and survivors.</li>
                <li>Focus on hitting survivors with your power to build up their Infection Meter.</li>
                <li>Don't try to use your powers on short loops! You cannot turn while using your power.</li>
                <ul>
                    <li>For more advanced killer players, learning Wesker's Hug Tech is a great way to circumvent this.</li>
                </ul>
            </ul>
		</main>
		<footer>
			<nav> 
				<ul>
					<li><a href="./characters/mastermind.astro">The Mastermind</a></li>
					<li><a href="./characters/singularity.astro">The Singularity</a></li>
					<li><a href="./characters/unknown.astro">The Unknown</a></li>
				</ul>
			</nav>

		</footer>
	</body>
</html>
