:root {
    --bg-color: #202020;
    --text-color: #e6e6e6;
    --border-color: #252525;
    --header-bg-color: #6b634f;
    --portrait-bg-color: #393939;
    --link-highlight-color: #85150f;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;


    h1 {
        background-color: var(--header-bg-color);
        text-align: center;
        border: 0.2rem solid var(--border-color);
    }
    h2, h3 {
        font-weight: bold;
        padding: 1em;
    }
    
    p{
        margin: 1em;
        dfn {
            font-style: italic;
            font-weight: bold;
        }
    }
    img.killer-portrait {
        border: 0.2rem solid var(--border-color);
        padding: 0.2rem;
        background-color: var(--portrait-bg-color);
        display: block;
        margin: 1em auto;
        max-width: 50%;
        height: auto;
    }
    img.power-icon, img.perk-icon {
        max-width: 20%;
        height: auto;
    }

    ul {
        list-style-type: disc;
        margin-left: 2em;
        margin-bottom: 1em;
    }

    footer {
        background-color: var(--header-bg-color);
        border: 0.2rem solid var(--border-color);
        nav {
            color: var(--text-color);
            a{
                color: var(--text-color);
                text-decoration: none;
                
            }
            a:hover {
                text-decoration: underline;
                color: var(--link-highlight-color);
            }
        }
    }
}