:root {
    --bg-color: #202020;
    --text-color: #e6e6e6;
    --border-color: #444444;
    --header-bg-color: #6b634f;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;

    h1 {
        background-color: var(--header-bg-color);
        text-align: center;
        border: 0.2rem solid var(--border-color);
    }
    h2 {
        padding: 0.5em 0.2rem;
    }

    ul {
        list-style-type: disc;
        margin-left: 2em;
        margin-bottom: 1em;
    }
}