---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Nick's DBD Guide</title>
	</head>
	<body>
		<header>
			<h1>DBD Character Guide</h1>
		</header>
		<main>
			<p>Welcome to my Dead by Daylight character guide! 
				I'm Nick and I've been playing DBD for several years now. 
				I'd like to consider myself a fairly experienced killer main, 
				so I've put together this guide to help new players get started playing killer in the game.
			</p>
			<p>Click on the links below to learn more about how to play each killer!</p>
		</main>
		<footer>
			<nav> 
				<ul>
					<li><a href="./characters/mastermind">The Mastermind</a></li>
					<li><a href="./characters/singularity">The Singularity</a></li>
					<li><a href="./characters/unknown">The Unknown</a></li>
				</ul>
			</nav>

		</footer>
	</body>
</html>
