<nav> 
    <h2>Navigation</h2>
        <ul>
            <li><a href="../index">Back to Home</a></li>
            <li><a href="./characters/mastermind">The Mastermind</a></li>
            <li><a href="./characters/singularity">The Singularity</a></li>
            <li><a href="./characters/unknown">The Unknown</a></li>
        </ul>
</nav>